@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Koulen&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* configuração de componentes */
@layer components {
  /* gradiente menu mobile */
  .bg-custom-gradient {
    background: rgb(30,30,30);
    background: linear-gradient(90deg, rgba(30,30,30,1) 25%, rgba(8,38,26,1) 56%, rgba(0,193,116,1) 100%);
  }

  /* credito de carbono e nome da empresa */
  .headerPoints{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 15px;
    border-radius: 15px;
    background-color: white;
    color: #00C174;
  }

  /* COMPONENTE CARD MERCADO */
  .marketCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 50px;
    background-color: #C7C7C7;
    border-radius: 30px;
    font-weight: 400;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
  }

  .marketCard h1{
    color: white;
    font-weight: 500;
  }

  .marketCard p{
    font-weight: 500;
  }

  .marketCard span{
    font-size: 34px;
    color: #D9D9D9;
  }

  /* componente de container tela de certificado */
  .certificadoCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #CACACA;
    border-radius: 10px;
    height: 140px;
    width: 80%;
  }

  /* Componente Botão obter certificado */
  .obterCert{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 20px;
    color: white;
    border-radius: 5px;
  }


  /*  COMPONENTE EMPRESAS */
  /* container nome da empresa */
  .empresaNome{
    width: 55%;
    border-radius: 5px;
    background: #00C174;
    color: white;
    text-align: center;
    font-weight: 500;
  }

   /* botão de contratar */
   .contratarBtn{
    width: 35%;
    border-radius: 10px;
    font-weight: 400;
  }

  /* imagem da empresa / capa do card */
  .empresaImg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  /* container de selos e país da empresa */
  .empresaIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 15%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.479);
    position: absolute;
    top: 0;
    gap: 5px;
    padding: 5px;
  }

  /* país da empresa */
  .empresaPais{
    width: 30px;
    height: 20px;
    border-radius: 2px;
  }

  /* icones de selo */
  .seloIcon{
    width: 30px;
    height: 30px;
  }

  /* créditos da empresa */
  .empresaCreditos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    margin: 10px;
    padding: 2px;
    color: #00C174;
    border-radius: 15px;
    background: white;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .empresaCreditos p{
    font-weight: 500;
    position: relative;
  }

  /* caixa de texto abaixo do card da empresa com descrição */
  .empresaDescricao{
    width: 100%;
    font-size: 12px;
    color: rgb(75, 75, 75);
    background-color: #CACACA;
    border-radius: 10px;
  }

  .empresaDescricao p{
    padding: 8px;
  }


  /* COMPONENTE CONTRATOS */
 .divContrato{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
 }
 
  /* lado superior/esquerdo */
  .contratoSupEsq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .idContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #C7C7C7;
    color: white;
    font-size: 20px;
  }

  /* lado inferior/direito */
  .contratoInfDir{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #C7C7C7;
    border-radius: 15px;
    padding: 10px;
  }

  .contratoCompra{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 5px;
    color: #00C174;
  }

  .contratoCompra p{
    font-weight: 500;
  }

  /* botões de contrato */
  .buttonContratoContainer{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }

  .buttonContrato{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
  }

  .buttonGerenciarContrato{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
  }

}

*{
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}
